.hero-container {
  background: url('/public/images/bg4-modified.jpg') center center/cover no-repeat;
  /*filter: blur(8px);
  -webkit-filter: blur(8px);*/
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  overflow: hidden;
  font-size: 30px;
}
.line1{
  color: #86c232;
  font-size: 30px;
  text-shadow: 0 0 10px black, 0 0 5px grey;
}
.line2{
  color: #86c232;
  font-size: 15px;
  text-shadow: 0 0 10px black, 0 0 5px grey;
}
.greentext{
  color: #86c232;
  font-size: 150px;
  text-shadow: 0 0 20px black, 0 0 20px grey;
}
.btns{
  color: #86c232;
}

